{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="{% static 'css/cust.css' %}" >

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c50881446.js" crossorigin="anonymous"></script>
    <meta name="description" content="{% block meta_des %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background:white;">
<div class="container-fluid">


{% include 'header.html' %}
{% include 'nav.html' %}

{% block content %}
{% endblock %}
    </div>

{% include 'footer.html' %}
 <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" ></script>
 <script src="{% static 'js/popper.min.js' %}" ></script>
 <script src="{% static 'js/bootstrap.min.js' %}" ></script>


</body>
</html>